.header
    box-sizing: border-box
    padding: 20px
    text-align: center

.body
    text-align: center
    color: white

    .head
        margin: 10px 0px

    .todo-list
        margin: 30px auto
        width: 80%

        table
            width: 100%
            border: 1px white solid
            border-radius: 5px
            table-layout: fixed

            thead
                background-color: #3539a2f5

            tbody td
                box-sizing: border-box
                background-color: white
    